@model IEnumerable<Grupo>

@{
    ViewData["Title"] = "Grupo Page";
}

<div class="text-center">

    <h1 class="display-4">Grupos</h1>

    <table class="table">

        <a asp-controller="Grupo" asp-action="Add" class="btn btn-primary">Agregar</a>

        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nombre</th>
                <th scope="col">Lotes</th>
                <th scope="col">Opciones</th>

            </tr>
        </thead>
        <tbody>
            @foreach(var lote in Model)
            {
                <tr>
                    <th scope="row">@lote.Id</th>
                    <td>@lote.Nombre</td>
                    <td>@lote.LoteNombre</td>
                    <td>
                        <a 
                            asp-asp-controller="Grupo" 
                            asp-action="Update"
                            asp-route-id="@lote.Id"
                            class="btn btn-warning"
                        >
                            Editar
                        </a>
                        <a 
                            class="btn btn-danger"
                            asp-asp-controller="Grupo" 
                            asp-action="Delete"
                            asp-route-id="@lote.Id"
                        >
                            Eliminar
                        </a>
                    </td>


                </tr>
            }

        </tbody>
    </table>

</div>
